<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <p class="backToInit">
        <a [routerLink]="['/']">Inicio</a>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <p-menubar #myMenuBar [model]="standardMenuItems"></p-menubar>
    </div>    
  </div>
  <br />
  <br />

  <div class="row">
    <div class="col-xs-3">
      <p-slideMenu [model]="standardMenuItems"></p-slideMenu>
    </div>
    <div class="col-xs-3">
      <p-tieredMenu [model]="standardMenuItems"></p-tieredMenu>
    </div>
    <div class="col-xs-3">
      <p-tabMenu [model]="tabbedMenuItems"></p-tabMenu>
    </div>
    <div class="col-xs-3">
      <p-menu [model]="twoLevelsMenuItems"></p-menu>
    </div>
  </div>

</div>