<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <p class="backToInit">
        <a [routerLink]="['/']">Inicio</a>
      </p>
    </div>
  </div>  

  <div class="row">

    <div class="col-xs-8">
      <p-gmap #mygmap [options]="optionsGoogleMap" [overlays]="overlaysGoogleMap" [style]="{'width':'100%','height':'450px'}" (onMapClick)="handleMapClick($event)"
        (onOverlayClick)="handleOverlayClick($event)"></p-gmap>
    </div>
    <div class="col-xs-4">
      <button class="btn-primary" (click)="addBounceMarker()">Marcador 'BOUNCE'</button><br />
      <button class="btn-primary" (click)="addDropMarker()">Marcador 'DROP'</button><br />
      <button class="btn-primary" (click)="removeLastMarker()">Quitar último marcador</button><br />
      <button class="btn-primary" (click)="removeAllMarkers()">Quitar todos los marcadores</button><br />
      <button class="btn-primary" (click)="addInfoWindow()">Agreagr ventana Info</button>
    </div>

  </div>


</div>