<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <p class="backToInit">
        <a [routerLink]="['/']">Inicio</a>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <span>Gráfica de líneas</span><br />
      <p-chart type="line" [data]="oLineChartData"></p-chart>
    </div>
    <div class="col-xs-6">
      <span>Gráfica de barras</span><br />
      <p-chart type="bar" [data]="oBarChartData" [options]="oBarChartOptions"></p-chart>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <span>Gráfica de radar</span><br />
      <p-chart type="radar" [data]="oRadarChartData"></p-chart>
    </div>
    <div class="col-xs-6">
      <span>Gráfica de quesitos (Pie)</span><br />
      <p-chart type="pie" [data]="oPieChartData"></p-chart>
    </div>
  </div>

  <div class="row">    
    <div class="col-xs-6">
      <span>Gráfica de donut (Doughnut)</span><br />
      <p-chart type="doughnut" [data]="oDonutChartData"></p-chart>
    </div>
    <div class="col-xs-6">
      <span>Gráfica de área polar</span><br />
      <p-chart type="polarArea" [data]="oPolarChartData"></p-chart>
    </div>
  </div>

</div>