<p class="backToInit">
  <a [routerLink]="['/']">Inicio</a>
</p>
<hr /><br />

<p-growl [(value)]="aGrowlMessages" life="2000"></p-growl>
<p-blockUI [target]="dt" [blocked]="blockedDataTable">

</p-blockUI>
<div class="col-xs-1">&nbsp;</div>
<div class="col-xs-10">
  <!-- @TODO: Quitar scroll horizontal de DataTable -->
  <p-dataTable #dt class="ui-datatable" [value]="aDataRows" [rows]="10" [paginator]="true" [editable]="true" [contextMenu]="cm"
    selectionMode="single" resizableColumns="true" reorderableColumns="true" exportFilename="posts" [responsive]="true" [stacked]="stacked">
    <p-header>
      <span style="font-family: monospace; font-size: 16pt; color: #FF0000; background-color: aquamarine;">Cabecera de DataTable</span>
    </p-header>
    <p-footer>
      <span style="font-family: Impact; font-size: 18pt; color: #00FF00; background-color: darksalmon;">Pie de DataTable</span>
    </p-footer>
    <p-column field="userId" header="ID USUARIO" [editable]="true" [sortable]="true" [filter]="true" width="50%"></p-column>
    <p-column field="title" header="TITULO" [editable]="true" [sortable]="true" [filter]="true" width="50%"></p-column>
  </p-dataTable>
</div>
<div class="col-xs-1">&nbsp;</div>
<p-contextMenu #cm [model]="aContextualMenuItems" [styleClass]="detailContainer"></p-contextMenu>

<div class="row">
  <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="alterDataTableColumns([
        { fieldName: 'body', headerCaption: 'CUERPO' },
        { fieldName: 'userId', headerCaption: 'ID USUARIO' }
      ])">Alterar Campos de tabla</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="alterDataTableColumns([
        { fieldName: 'userId', headerCaption: 'ID USUARIO' },
        { fieldName: 'title', headerCaption: 'TITULO' }
      ])">Revertir a campos originales</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="addDataTableColumns([
      { field: 'body', header: 'CUERPO', sortable: true },
      { field: 'id', header: 'ID POST', sortable: true }
      ])">Agregar columnas</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="removeDataTableColumns(2, 2)">Quitar columnas</button>
  </div>

</div>

<div class="row">

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="loadCommentsData()">Cargar comentarios</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="loadPhotosData()">Cargar Fotos</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="loadAlbumsData()">Cargar Albumes</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="loadAnyData('https://jsonplaceholder.typicode.com/todos')">Cargar datos varios</button>
  </div>

</div>

<div class="row">

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="makeColumnsUnresizable()">Columnas no movibles</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="makeColumnsResizable()">Columnas movibles</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="makeResizeExpandable()">Columnas expandibles</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="makeResizeFit()">Columnas no expandibles</button>
  </div>

</div>

<div class="row">

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="makeColumnsUnreordable()">Columnas no reordenables</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="makeColumnsReordable()">Columnas reordenables</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="this.dt.exportCSV()">Exportar datos a CSV</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="makeTableNotResponsive()">Quitar responsive a DataTable</button>      
  </div>

</div>

<div class="row">

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="makeTableResponsive()">Hacer DataTable responsive</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="makeTableNotStacked()">Quitar apilamiento columnas</button>
  </div>

  <div class="col-xs-3" align="center">
    <button class="btn-primary" (click)="makeTableStacked()">Usar apilamiento columnas</button>
  </div>

  <div class="col-xs-3" align="center">
    &nbsp;
  </div>

</div>