<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <p class="backToInit">
        <a [routerLink]="['/']">Inicio</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Control Galleria</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <p-galleria (onImageClicked)="hndlGalleriaImageClicked($event.image, $event.originalEvent, $event.index)" [images]="aGalleriaImages"
        panelWidth="512" panelHeight="384" [showCaption]="true"></p-galleria>
    </div>
    <div class="col-xs-4">
      {{ strSelectedImage }}
    </div>
  </div>

</div>