<h4>Suite de testeo componentes PrimeNG</h4>
<h5>Para Loxi con cariño</h5>
<p>Esto es una suite de testeo de componentes PrimeNG. La idea es que utilices este código para aprender, y 
para modificarlo cuando te sirva de algo el ejemplo ya hecho.</p>

<ul>
  <li>
    <a [routerLink]="['datatable']">DataTable</a>
  </li>
  <li>
    <a [routerLink]="['googlemap']">Google Map</a>
  </li>
  <li>
    <a [routerLink]="['orgchart']">Orgchart</a>
  </li>
  <li>
    <a [routerLink]="['tree']">Tree</a>
  </li>
  <li>
    <a [routerLink]="['menu']">Menu(s)</a>
  </li>
  <li>
    <a [routerLink]="['chart']">Chart</a>
  </li>
  <li>
    <a [routerLink]="['galleria']">Galleria</a>
  </li>
  <li>
    <a [routerLink]="['code-highlight']">Code Highlight</a>
  </li>
</ul>