<div class="row">
  <div class="col-xs-12">
    <p class="backToInit">
      <a [routerLink]="['/']">Inicio</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    &nbsp;
  </div>
  <div class="col-xs-3">
    <span>Switch estándar</span><br />
    <p-inputSwitch [(ngModel)]="firstSwitchStatus"></p-inputSwitch>
  </div>
  <div class="col-xs-3">
    <span>Switch textos custom</span>
    <p-inputSwitch [(ngModel)]="secondSwitchStatus" onLabel="Confirmo todo ok" offLabel="No confirmo nada"></p-inputSwitch>
  </div>
  <div class="col-xs-3">
    &nbsp;
  </div>
</div>
